
@import './font.scss';
@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/bootstrap.scss';
@import '../plugins/toastr/toastr.scss';
@import './mixins/variable.scss';

body{
    margin:0;
    padding:0;
    background: $wdBgColor;
    font-family: $fontFamily;
}

html, body{
    width: 100%;
}

// HEADER
.header{
    // position: fixed;
    // top:0;
    // left:0;
    width: 100%;
    padding:1.5rem 0;
    display: flex;
    background: $primary;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-contact{
        display: flex;
        align-items: center;

        .icon{
            width:50px;
            display: flex;
            font-size: 25px;
            margin-right: 1rem;
            justify-content: center;
            align-items: center;
            height:50px;
            color:$primary;
            background: white;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }

        h4{
            font-size: 0.8rem;
            margin-top: 0.5rem;
            margin-bottom: 0;
            color:white;
        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 0;
            color:white;
        }
    }

    nav{
        ul{
            margin:0;
            padding:0;
            list-style-type: none;
            display: flex;

            li{
                a{
                    padding:0 1rem;
                    color:white;
                    text-decoration: none;
                }
            }
        }
    }

    .site-logo{
        margin:0 0.8rem;
        margin: 0 1.5rem;
    }

    .header-cart-outer{
        display: flex;

        .header-cart{
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            margin-right: 1rem;

            i{
                color: white;
                font-size: 30px;
                margin-top: -5px;
            }

            span{
                margin-left: 0.25rem;
                text-decoration: none;
                color:white;
            }

            .badge{
                position: absolute;
                top:-5px;
                right:-5px;
                width:15px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 8px;
                background: $gray-900;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }
    }
}

// HEADER SLIDER
.header-slider{
    background: $primary url('../images/logo/mastPizza_bg.png');
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    width:100%;
    min-height:700px;
    position: relative;

    .carousel{
        width: 100%;

        .carousel-inner{
            height: 100%;

            .carousel-item{
                height: 100%;

                .carousel-item-inner{
                    display: flex;
                    align-items: center;
                    padding:10rem 0;

                    &>div{
                        flex:1;
                    }

                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                    .carousel-caption{
                        position: relative;
                        display: flex;
                        left:auto;
                        right:auto;
                        top:auto;
                        bottom: auto;
                        flex-direction: column;
                        justify-content: flex-start;
                        
                        h4{
                            text-transform: uppercase;
                            text-align: left;
                            font-size: 1.8rem;
                            margin-bottom:0;
                            font-family: $OswaldfontFamily;
                        }
                        
                        h3{
                            text-transform: uppercase;
                            text-align: left;
                            font-weight: 900;
                            font-size: 4.5rem;
                            font-family: $OswaldfontFamily;
                        }

                        p{
                            text-transform: uppercase;
                            text-align: left;
                            font-family: $OswaldfontFamily;
                        }
                    }

                }
            }
        }
    }
}

// AUTH FORM
.auth-form{
    display: flex;
    justify-content: center;

    .auth-form-inner{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        width:36%;
        border: 1px solid #ecebeb;
        background: white;
        border-bottom: none;
        box-shadow: 0 3px 3px 0px rgba(0,0,0,0.1);
        padding: 2rem;

        .form-group, form{
            width:100%
        }
        
        .bottom-link{
            text-align: center;
            margin-top:1.5rem;
            font-weight: 500;
            color:$gray-600;
            text-decoration: none;
            @include box_transition();

            &:hover, &:focus{
                color:darken($color: $primary, $amount: 10%);
            }
        }

        h1{
            margin-bottom:1.5rem;
            font-size: 18px;
            font-family: $OswaldfontFamily;
        }
    }
}

// ADMIN DASHBOARD
.admin-dashboard{

    .admin-sidebar{
        .nav-pills{
            .nav-link{
                margin-bottom: 0.5rem;
                background: white;
                display: flex;
                align-items: center;

                i{
                    font-size: 20px;
                    margin-right: 0.5rem;
                }

                &.active{
                    background: $primary;
                }
            }
        }
    }

    .admin-content{
        display: flex;
        width:100%;
        flex-direction: column;
        background: white;
        padding:25px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        h1{
            position: relative;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-family: $OswaldfontFamily;
            text-transform: uppercase;
            margin-bottom: 2rem;

            i{
                margin-right: 0.5rem;
                font-size: 22px;
            }

            &:after{
                content: '';
                width:8%;
                background: $primary;
                height: 4px;
                position: absolute;
                top: 2rem;
            }
        }

        .admin-content-inner{
            display: flex;
            width:100%;

            table{
                width:100%;
                margin-bottom: 0;

                th,td{
                    vertical-align:middle;
                }
            }

            .admin-dashboard-box{
                display: grid;
                width:100%;
                grid-template-columns: auto auto auto;
                column-gap: 1rem;

                &>div{      
                    position: relative;
                    padding:1rem;             
                    border:2px solid $gray-300;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;

                    h3{
                        font-size: 18px;
                        font-family: $OswaldfontFamily;
                    }

                    .dashboard-box-value{
                        display: flex;
                        align-items: center;
                        margin-top:0.8rem;
                        justify-content: space-between;

                        i{
                            font-size: 28px;
                        }

                        span{
                            color:$primary;
                            font-weight: bold;
                            font-size: 28px;
                        }

                    }
                }
            }

            .ordered-pizzas{
                width:100%;
                display: flex;
                flex-direction: column;

                .ordered-pizza{
                    width: 100%;
                    border:2px solid $gray-300;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;

                    .ordered-collapse{
                        .ordered-collapse-nav{
                            display: flex;
                            cursor: pointer;
                            justify-content: space-between;
                            align-items: center;
                            padding:1rem;

                            h3{
                                font-size: 18px;
                                margin-bottom: 0;
                                font-family: $OswaldfontFamily;
                            }
                        }
                        .ordered-collapse-content{
                            border-top:2px solid $gray-300;
                            padding:1rem;
                        }
                    }

                    .ordered-pizza-details{
                        margin-bottom: 1rem;
                    }

                    .ordered-pizza-nav{


                        .cart-pizza{
                            display: flex;
                            position: relative;
                            align-items: center;
                    
                            .cart-pizza-img{
                                border:2px solid $primary;
                                padding:5px;
                                width:60px;
                                height: 60px;
                                border-radius: 8px;
                                -webkit-border-radius: 8px;
                                -moz-border-radius: 8px;
                                -ms-border-radius: 8px;
                                -o-border-radius: 8px;
                    
                                img{
                                    width:100%
                                }
                            }
                    
                            strong{
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }

            .admin-pizzas{
                display: flex;
                width: 100%;
                flex-direction: column;

                .btn-control{
                    i{
                        font-size:20px;
                    }
                }

                .add-pizza{
                    display: inline-flex;
                    justify-content: flex-end;
                    margin-bottom: 2rem;
                }

                .cart-pizza{
                    display: flex;
                    position: relative;
                    align-items: center;
            
                    .cart-pizza-img{
                        border:2px solid $primary;
                        padding:5px;
                        width:60px;
                        height: 60px;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
            
                        img{
                            width:100%
                        }
                    }
            
                    strong{
                        padding-left: 20px;
                    }
                }                
            }
        }
    }
}

// ORDER TRACKING
.order-tracking-h2{
    font-size: 16px;
}
.order-tracking{
    margin-top:4rem;

    .status-timeline{
        margin-left: 3.2rem;

        li{
            position: relative;
            padding-bottom: 4rem;

            // LINE
            &:before{
                content: '';
                width: 2px;
                position: absolute;
                top:10px;
                left: -6px;
                height: 100%;
                background: $gray-500;
            }

            small{
                float: right;
                margin-top:6px;
                font-size: 14px;
            }

            span{
                position: relative;
                padding-left:20px;

                &:after{
                    content:'' ;
                    position: absolute;
                    left:-10px;
                    top:50%;
                    width:10px;
                    height: 10px;
                    background: $gray-500;
                    border-radius: 50%;
                    box-shadow: 0 0 1px 10px #F2F2F2;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transform: translateY(-5px);
                    -webkit-transform: translateY(-5px);
                    -moz-transform: translateY(-5px);
                    -ms-transform: translateY(-5px);
                    -o-transform: translateY(-5px);
                    
                }

                &:before{
                    font-family: 'Line Awesome Free';
                    font-size: 46px;
                    font-weight: 600;
                    position: absolute;
                    left:-90px;
                    top:50%;
                    color:inherit;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }

            &:nth-child(1){
                span{
                    &:before{
                        content: '\f46c';
                    }
                }
            }

            &:nth-child(2){
                span{
                    &:before{
                        content: '\f560';
                    }
                }
            }

            &:nth-child(3){
                span{
                    &:before{
                        content: '\f818';
                    }
                }
            }

            &:nth-child(4){
                span{
                    &:before{
                        content: '\f0d1';
                    }
                }
            }

            &:nth-child(5){
                
                &::before{
                    display: none;
                }
                
                span{
                    &:before{
                        content: '\f582';
                    }
                }
            }

            // COMPLETED STEP
            &.step-completed{
                &::before{
                    background: $gray-500;
                }
                
                span{
                    color: $gray-500;

                    &:after{
                        background: $gray-500;
                    }
                }
            }
            // CURRENT
            &.current{                    
                span{
                    color:$primary;

                    &:after{
                        background: $primary;
                    }
                }
            }
        }
    }    
}

.site-content{
    .user-name{
        font-size: 22px;
        text-align: end;
        margin-bottom: 2rem;
    }
}

.stm-row_separator-top{
    position: absolute;
    top: -12px;
    width: 100%;

    &.svg-gray{

        path{
            fill:#F2F2F2;
        }
        
    }
}
.stm-row_separator-bottom{
    position: absolute;
    bottom: -11px;
    width: 100%;

    &.svg-gray{
        path{
            fill:#F2F2F2;
        }
    }
}

//HOME BANNE
.home-banner{
    display: flex;

    .home-banner-inner{
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 1.5rem;

        .banner{
            position: relative;
            width: 100%;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            img{
                width: 100%;
            }

            .banner-info{
                position: absolute;
                width:50%;
                right:0;
                top:0;
                height: 100%;
                padding:2rem 2rem;

                h1{
                    color: white;
                    font-size: 42px;
                    font-weight: 900;
                    font-family: $OswaldfontFamily;
                }

                p{
                    color:$primary;
                    font-weight: 500;
                    font-size: 22px;
                }
            }
        }
    }
}

section{
    padding:4rem 0;

    .section-heading{
        display: flex;
        width:100%;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4rem;

        h3{
            font-size: 1.2rem;
            text-align: center;
            font-family: $OswaldfontFamily;
        }

        h1{
            font-size: 45px;
            text-align: center;
            font-weight: 900;
            color:$primary;
            font-family: $OswaldfontFamily;
        }
        p{
            text-align: center;
            padding:0 20%;
        }
    }

    .section-body{
        display: flex;
        width:100%;

    }
}

// LATEST NEWS
.latest-news{
    padding:4rem 0 8rem 0;

    .latest-news-inner{
        width: 100%;
        display: flex;

        .latest-news-thumb{
            width: calc(100% / 3);
            margin-right: 2rem;

            .latest-news-img{
                overflow: hidden;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;

                img{
                    width: 100%;
                }
            }

            strong{
                margin:0.5rem 0;
                font-family: $OswaldfontFamily;
                color:$primary;
                display: flex;
            }

            h3{
                font-family: $OswaldfontFamily;
                display: flex;
                font-size: 35px;
                margin-bottom:1.8rem;
            }

            a{
                font-family: $OswaldfontFamily;
                text-decoration: none;
                color:$gray-900;
                font-weight: bold;
                @include box_transition();

                &:hover, &:focus{
                    color:$primary;
                }
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

// MENU LIST
.home-menu{
    padding:4rem 0 8rem 0;

    .menu-list{
        display:grid;
        width:100%;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, auto);
        column-gap: 2.5rem;
        row-gap: 4rem;

        .menu-card{
            display: flex;
            justify-content: center;
            width:100%;
            cursor: pointer;
            @include box_transition();

            .menu-card-img{
                border:2px solid $primary;
                width: 45%;
                display: flex;    
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                img{
                    width:100%
                }
            }

            .menu-details{
                padding-left: 1rem;
                display: flex;
                flex-flow: column;
                flex-wrap: wrap-reverse;
                align-items: flex-end;
                justify-content: center;

                h2{
                    color:$gray-900;
                    font-weight: 900;
                    font-size: 1.8rem;
                    margin-bottom: 0.25rem;
                    font-family: $OswaldfontFamily;
                }

                p{
                    margin:0;
                }
    
                .menu-price{
                    margin-bottom: 0.5rem;
                    font-size: 1.6rem;
                    font-weight: 900;
                    color:$primary;
                    font-family: $OswaldfontFamily;
                }

            }
        }
    }
}

// MODEL CUSTOM
.modal{
    .modal-dialog{
        .modal-content{
            border-radius:4px;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            -ms-border-radius:4px;
            -o-border-radius:4px;

            .modal-header{
                padding:1.2rem 1.2rem;

                .modal-title{
                    font-size: 18px;
                    font-family: $OswaldfontFamily;
                }
            }
            .modal-body{
                padding:1.2rem 1.2rem;
            }
        }
    }
}

// CART
.cart{
    width:100%;
    margin-bottom: 2rem;

    .cart-pizza{
        display: flex;
        position: relative;
        align-items: center;

        .cart-pizza-img{
            border:2px solid $primary;
            padding:5px;
            width:60px;
            height: 60px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;

            img{
                width:100%
            }
        }

        strong{
            padding-left: 20px;
        }
    }

    table{
        border-bottom: 1px solid $gray-400;

        thead{
            tr,th{
                vertical-align:middle;
            }
        }
        tbody{
            tr,td{
                vertical-align:middle;
            }
        }
    }

    .cart-quantity{
        display: flex;
        width: 60px;
        height: 48px;
        border:2px solid $primary;

        input{
            width: 34px;
            outline: 0;
            text-align: center;
            border:none;
        }

        .cart-quantity-controls{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 26px;
            user-select: none;

            i{
                font-size: 12px;
                flex: 1;
                width: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &:hover, &:focus{
                    background: $gray-300;
                    color:$primary;
                    cursor: pointer;
                }
            }
        }
    }
}
.cart-total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1{
        font-family: $OswaldfontFamily;
        margin-bottom: 2rem;
    }
    button, a{
        margin-top: 1rem;
        display: flex;
    }
    
    .cart-total-table{
        width:100%;

        table{
            border-top: 1px solid $gray-400;
            border-bottom: 1px solid $gray-400;

            td, th{
                border-top:none;
            }
        }

    }
}

.cus-btn{
    border:none;
    outline:0;
    padding:0.75rem 1.8rem;
    text-decoration: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

    &.cus-btn-primary{
        background: $primary;
        color:white;
        @include box_transition();
        font-family: $OswaldfontFamily;

        &:hover, &:focus{
            text-decoration: none;
            outline:0;
            background: darken($color: $primary, $amount: 10%);
        }
    }

    &.cus-sm{
        padding:0.5rem 1.8rem;
    }

    &.cus-lg{
        font-size: 22px;
        padding:1rem 2.5rem;
    }
}


.delivery-section{
    padding:6rem 0 8rem 0;
    background: url(../images/pizzasection.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    

    h1{
        color:white;
        font-size: 74px;
        font-weight: 900;
        font-family: $OswaldfontFamily;
    }

    p{
        color:white;
    }
}

// TESTIMONIAL
.testimonial{
    position: relative;
    padding:6rem 0 8rem 0;
    background: rgba(0,0,0,0.5);
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../images/testimonials_bg_overlay50.jpg'), ;
    background-repeat: no-repeat;
    background-position: center;

    h1{
        font-family: $CookiefontFamily;
        text-align: center;
        font-size: 72px;
        color:white;
    }

    .testimonial-slider{

        .stm_testimonial{
            text-align: center;

            .stm_testimonial_content{
                .stm_testimonial_text{
                    font-family: $LorafontFamily;
                    color:white;
                    font-style: italic;
                    font-size: 24px;
                    margin-top:2rem;
                }
                .stm_testimonial_meta{
                    color:white;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin:2rem 0;
                }

                &:hover, &:focus{
                    outline: 0;
                }
            }

            &:hover, &:focus{
                outline: 0;
            }
        }

        .slick-dots{
            position: absolute;
            bottom: -25px;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;

            li{
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;

                button{
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: transparent;

                    &::before{
                        font-family: 'slick';
                        font-size: 6px;
                        line-height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        content: '•';
                        text-align: center;
                        opacity: 0.5;
                        background:$primary;
                        -webkit-font-smoothing: antialiased;                     
                    }
                }

                &.slick-active{
                    button{  
                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

//FOOTER
footer.footer{
    position: relative;
    background: white;
    padding:8rem 0;

    .footer-inner{
        display: flex;

        &>div{      
            display: inline-flex;
            flex-direction: column;
            margin-right: 1.2rem;

            flex:1;

            h2{
                font-size:24px;
                font-weight: bold;
                font-family: $OswaldfontFamily;
            }
    
            h3{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 1rem;
                font-family: $OswaldfontFamily;
            }

            strong{
                font-size: 16px;
                font-family: $OswaldfontFamily;
            }
            
            .divider{
                background: $primary;
                height: 2px;
                margin-bottom: 1rem;
                width:20%;
            }
            
            .social-icon{
                display: flex;
                margin:0;
                padding:0;

                li{
                    list-style: none;

                    a{
                        display: flex;
                        width:35px;
                        height: 35px;
                        text-decoration: none;
                        margin-right: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        color:$primary;
                        border:2px solid $primary;
                        @include box_transition();

                        &:hover, &:focus{
                            color:$gray-900;
                            border:2px solid $gray-900;
                        }
                    }
                }
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}
footer.footer-copyright{
    background: $footer;
    width:100%;
    display: flex;
    padding:4rem 0;

    .footer-inner{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            object-fit: contain;
            margin-bottom: 0.75rem;
        }

        p{
            text-align: center;
            color:white;
        }
    }
}


.custom-saprater-line{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;

    &::before{
        position: absolute;
        content: '';
        width: 20%;
        height: 1px;
        background: white;
        bottom: 50%;
        top: 50%;
        right: 52%;
    }

    &::after{
        position: absolute;
        content: '';
        width: 20%;
        height: 1px;
        background: white;
        bottom: 50%;
        top: 50%;
        left: 52%;
    }
}

.bg-overlay{
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    width:100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.4);

    &.in{
        display: block;
    }
}

.sm-header-bar{
    display: none;
}


// MOBILE
@media (max-width:550px){

    .sm-hide{
        display: none;
    }
}


// MOBILE
@media (max-width:1200px) and (min-width:768px){

    .sm-hide{
        display: none;
    }

    .header-slider{
        min-height: 630px;

        .carousel-item-inner{
            padding:4rem 0 4rem 0 !important;
            flex-direction: column;
        }
    }

    // HEADER
    .sm-header{
        position:fixed;
        top:0;
        left:0;
        z-index:999;
        display: flex;
        justify-content: space-between;
        padding:1rem 0.75rem 0.75rem 0.75rem;
        background: white;
        box-shadow: 0 0px 4px 0px rgba(0,0,0,0.4);

        .sm-header-bar{
            width:40px;
            font-size: 18px;
            display: flex;
            color: $gray-900;
            justify-content: center;
        }

        .header-contact{
            display: none;
            color: $gray-900;

            h4, h3{
                color:inherit;
            }
        }

        .header-cart{
            i{  
                color: $gray-900;
            }
        }

        .container{
            justify-content: flex-end;
            max-width: 100%;

            .nav-inner{
                position:fixed;
                top:0;
                left:-100%;
                width:30%;
                z-index: 1030;
                padding-top: 1.5rem;
                flex-direction: column;
                background: $primary;
                height: 100%;
                @include box_transition();

                &.in{
                    left:0;
                }

                nav{
                    width: 100%;

                    ul{
                        width: 100%;
                        flex-direction: column;

                        li{
                            a{
                                display: flex;
                                width: 100%;
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }

                .site-logo{
                    order: -1;
                    margin-bottom: 2rem;
                }
            }

            &>div:nth-child(1){
                order: 3;
            }
        }
    }

    section{
        .section-heading{
            h1{
                font-size: 35px;
            }
        }
    }

    .home-menu{
        padding:4rem 0;

        .menu-list{

            .menu-card{
                flex-direction: column;
                align-items: center;

                .menu-details{
                    margin-top: 1.5rem;
                    text-align: center;
                    align-items: center;

                    h2{
                       text-align: center;
                    }
                }
            }
        }
    }

    .home-banner{
        padding:4rem 0;

        .home-banner-inner{

            .banner{
                .banner-info{
                    padding: 1rem 1rem;

                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }

                    .cus-btn{
                        font-size: 14px;
                        padding: 0.5rem 1.2rem;
                    }
                }
            }
        }
    }

    .footer{
        padding: 4rem 0 !important;

        .footer-inner{
            flex-direction: column;

            &>div{
                flex: auto;
                margin-top: 1.5rem;
            }
        }
    }

}

// MOBILE
@media (max-width:767px){

    .sm-hide{
        display: none;
    }

    // HEADER
    .sm-header{
        position:fixed;
        top:0;
        left:0;
        z-index:999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem 0.75rem 1rem 0.75rem;
        background: white;
        box-shadow: 0 0px 4px 0px rgba(0,0,0,0.4);

        .sm-header-bar{
            width:40px;
            font-size: 18px;
            display: flex;
            color: $gray-900;
            justify-content: center;
        }

        .header-contact{
            display: none;
            color: $gray-900;

            h4, h3{
                color:inherit;
            }
        }

        .header-cart{
            i{  
                color: $gray-900;
            }
        }

        .container{
            justify-content: flex-end;

            .nav-inner{
                position:fixed;
                top:0;
                left:-100%;
                width:80%;
                z-index: 1030;
                padding-top: 1.5rem;
                flex-direction: column;
                background: $primary;
                height: 100%;
                @include box_transition();

                &.in{
                    left:0;
                }

                nav{
                    width: 100%;

                    ul{
                        width: 100%;
                        flex-direction: column;

                        li{
                            a{
                                display: flex;
                                width: 100%;
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }

                .site-logo{
                    order: -1;
                    margin-bottom: 2rem;
                }
            }

            &>div:nth-child(1){
                order: 3;
            }
        }
    }

    section{
        .section-heading{
            h1{
                font-size: 35px;
            }
        }
    }

    .header-slider{
        min-height: 630px;

        .carousel-item-inner{
            padding: 4rem 0 0 0 !important;
            flex-direction: column;
        }
    }

    .home-banner{
        padding:4rem 0;

        .home-banner-inner{
            grid-template-columns:auto;
            row-gap: 1rem;

            .banner{
                .banner-info{
                    padding: 1rem 1rem;

                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                    }

                    .cus-btn{
                        font-size: 14px;
                        padding: 0.5rem 1.2rem;
                    }
                }
            }
        }
    }

    .home-menu{
        padding:4rem 0;

        .menu-list{
            grid-template-columns: auto;

            .menu-card{
                flex-direction: column;
                align-items: center;

                .menu-details{
                    margin-top: 1.5rem;
                    text-align: center;
                    align-items: center;

                    h2{
                       text-align: center;
                    }
                }
            }
        }
    }

    .latest-news{
        padding:4rem 0;

        .latest-news-inner{
            flex-direction: column;

            .latest-news-thumb{
                width:100%;
                margin-bottom: 1.5rem;

                h3{
                    margin-bottom:0.5rem; 
                }
            }
        }
    }

    .footer{
        padding: 4rem 0 !important;

        .footer-inner{
            flex-direction: column;

            &>div{
                flex: auto;
                margin-top: 1.5rem;
            }
        }
    }

    .footer-copyright{
        padding: 2rem 0 1rem 0 !important;
    }
}